#upload_form {
	line-height: 1em;
	font-size: 12pt;
	padding: 20px;
	border: 1px solid #CCC;
	margin: 20px 0 40px 0;
	background: #333;
	color: #CCC;
}

#upload_form input {
	font-size: 14pt;
}

#upload_form p {
	margin: 5px 0;
}

#uploadedfile {
	background: #333;
	color: #CCC;
}

#submit {
	background: #CCC;
	color: #333;
}